@font-face {
   font-family: 'Inter';
   src: url('/fonts/InterTight-Medium.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

:root {
   font-family: 'Inter', sans-serif;
   font-size: 22px;
   --site-margin: 0.75rem
}

html {
   -moz-text-size-adjust: none;
   -webkit-text-size-adjust: none;
   text-size-adjust: none;
}

body {
   display: flex;
   flex-flow: column;
   padding: var(--site-margin);
   padding-right: 14px;
   overflow-x: hidden;
}

body.no-scroll {
   overflow-y: hidden;
}

.mobile {
   display: none;
}

hr {
   border: none;
   background-color: currentColor;
   height: 0.1rem;
}

a, u {
   text-decoration-thickness: 0.07em;
   text-underline-offset: 0.14em;
   text-decoration-skip-ink: none;
}

a:hover {
   opacity: 0.6;
}

a[href^="mailto:"] {
   word-wrap: anywhere;
}

.site-header {
   position: fixed;
   top: var(--site-margin);
   left: var(--site-margin);
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   height: calc(100% - var(--site-margin)*2);
   white-space: nowrap;
}

.site-header-text {
   writing-mode: sideways-lr;
}

.site-header .header-logo {
   transform: translate(-32.5%, 77%) rotate(-90deg);
   position: absolute;
   top: -0.15em;
   left: 0.15em;
}

.site-header .icon-logo-fc {
   height: 2rem;
   width: auto;
}

.mobile-nav {
   display: none;
   position: fixed;
   top: var(--site-margin);
   left: var(--site-margin);
   z-index: 1;
   line-height: 0;
   transform: translateY(-150%);
   transition: transform 0.4s;
}

.mobile-nav.active {
   transform: translateY(0);
}

.mobile-nav .icon-logo-fc {
   height: 3rem;
   width: auto;
}

.mobile-nav a {
   font-size: 0;
}

.mobile-nav::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 25%;
   height: 100%;
   background: white;
}

.mobile-nav::after {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   width: 28%;
   height: 100%;
   background: white;
   z-index: -1
}

.site-main {
   margin-left: 5.5rem;
}

.mb-1:not(:last-child) {
   margin-bottom: 1rem;
}

.mb-2:not(:last-child) {
   margin-bottom: 2rem;
}

.icon {
   position: relative;
   top: 0.075em;
   height: 1em;
   width: auto;
   overflow: visible
}

h2 {
   font-size: 4rem;
   margin-bottom: 1rem;
}

h3 {
   font-size: 3rem;
   margin-bottom: 1rem;
}

h4 {
   font-size: 2rem;
   margin-bottom: 1rem;
}

h5 {
   font-size: 1rem;
   margin-bottom: 1rem;
}

.text p,
.text ul,
.text ol {
   margin-bottom: 1rem;
}

.text ul {
   list-style: "→ ";
   padding-left: 1.035em;
}

.text ol {
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 1.8em;
}

.text ol li {
  counter-increment: custom-counter;
  position: relative;
}

.text ol li::before {
  content: counter(custom-counter);
  position: absolute;
  left: -1.8em;
  font-feature-settings: "ss01" 1;
}

.image {
   position: relative;
   border: 0.1rem solid;
   overflow: hidden;
}

.image::after {
   content: '';
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: currentColor;
   mix-blend-mode: screen;
}

.image img {
   display: block;
   width: 100%;
   height: auto;
}

.video video {
   display: block;
   width: 100%;
   height: auto;
}

.gallery-strip {
   overflow: hidden;
   width: 100%;
   padding-bottom: 1rem;
}

.gallery-strip-inner {
   display: flex;
   gap: 0.35rem;
}

.gallery-title {
   margin-bottom: 0.5rem;
}

.gallery-image {
   flex: 0 0 auto;
   cursor: pointer;
}

.gallery-image img {
   display: block;
   height: 28rem;
   width: auto;
}

.os-scrollbar.gallery {
   --os-handle-bg: var(--gallery-scrollbar-color);
   --os-handle-bg-hover: var(--gallery-scrollbar-color);
   --os-handle-bg-active: var(--gallery-scrollbar-color);
}

.split-scroll {
   display: grid;
   max-height: 100vh;
   overflow: hidden;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 0.25rem;
}

.split-scroll > * {
   overflow-x: hidden;
   overflow-y: hidden;
   max-height: 100vh;
   padding-right: calc(var(--site-margin)*2);
}

.file a,
.link a {
   text-decoration: none
}

.file a::before {
   content: "";
   margin-right: 0.5em
}

.link a:before {
   content: "";
   margin-right: 0.5em
}

.lightbox {
   padding: var(--site-margin);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255,255,255,0.9);
   box-sizing: border-box;
   z-index: 100000;
}

.lightbox-image {
   max-height: calc(100vh - (var(--site-margin) * 2));
   max-width: calc(100vw - (var(--site-margin) * 2));
   width: auto;
   height: 100%;
   object-fit: contain;
   pointer-events: none;
}

.lightbox-close {
   position: absolute;
   top: var(--site-margin);
   right: var(--site-margin);
   border: inherit;
   background: none;
   padding: 0;
   font-size: 2rem;
   margin-top: -0.35em;
   margin-right: -0.25em;
   cursor: pointer;
   color: inherit;
}

.lightbox-caption {
   position: absolute;
   top: var(--site-margin);
   left: var(--site-margin);
}

.video-player {
   position: relative;
   display: flex;
   align-items: center;
   border-radius: 0.75rem;
   overflow: hidden;
}

.video-stage {
   position: relative;
}

.video-player .video-controls {
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.2s ease;
   display: flex;
   align-items: center;
   position: absolute;
   width: 100%;
   padding: 0.5rem;
   gap: 0.5rem;
   bottom: 0;
   box-sizing: border-box;
}

.video-player.is-started:hover .video-controls {
   opacity: 1;
   pointer-events: auto;
}

.video-progress {
   --thumb-height: 20px;
   --track-height: 8px;
   --track-color: #fff;
   --clip-edges: 6px;
   color: currentColor;
   position: relative;
   background: transparent;
   overflow: hidden;
   -webkit-appearance: none;
   appearance: none;
   height: var(--thumb-height);
}

.video-progress,
.video-progress::-webkit-slider-runnable-track,
.video-progress::-webkit-slider-thumb {
   -webkit-appearance: none;
   transition: all ease 100ms;
   height: var(--thumb-height);
}

.video-progress::-webkit-slider-runnable-track {
   background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
      100% calc(var(--track-height) + 1px);
   border-radius: var(--track-height);
}

.video-progress::-webkit-slider-thumb {
   --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
   --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
   --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
   --clip-further: calc(100% + 1px);
   --box-fill: calc(-100vmax - var(--thumb-height)) 0 0 100vmax currentColor;
   width: var(--thumb-height);
   background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
      50% calc(var(--track-height) + 1px);
   background-color: currentColor;
   box-shadow: var(--box-fill);
   border-radius: var(--thumb-height);
   clip-path: polygon(
      100% -1px,
      var(--clip-edges) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--clip-edges) 100%,
      var(--clip-further) var(--clip-further)
   );
}

.video-progress,
.video-progress::-moz-range-track,
.video-progress::-moz-range-thumb {
   appearance: none;
   transition: all ease 100ms;
   height: var(--thumb-height);
}

.video-progress::-moz-range-track {
   width: 100%;
   background: var(--track-color);
   height: calc(var(--track-height) + 1px);
   border-radius: var(--track-height);
}

.video-progress::-moz-range-progress {
   background: currentColor;
   height: calc(var(--track-height) + 1px);
   border-radius: var(--track-height);
}

.video-progress::-moz-range-thumb {
   background: currentColor;
   border: 0;
   width: var(--thumb-height);
   height: var(--thumb-height);
   border-radius: var(--thumb-height);
}

.video-progress {
   flex: 1;
}

.video-control {
   border: none;
   background: none;
   padding: 0;
   width: 1.5rem;
   height: 1.5rem;
   color: inherit;
   cursor: pointer;
}

.video-control svg {
   width: 100%;
   height: auto;
}

.video-control.video-big-play {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.video-control.video-big-play svg {
   width: calc(2rem + 10vw);
   height: auto;
}

@media (max-width: 1024px) {
   :root {
      font-size: 21px;
   }

   h2 {
      font-size: 3.5rem;
   }

   h3 {
      font-size: 2.5rem;
   }

   h4 {
      font-size: 1.5rem;
   }
}

@media (max-width: 920px) {
   :root {
      font-size: 20px;
   }

   h2 {
      font-size: 3rem;
   }

   h3 {
      font-size: 2.25rem;
   }

   h4 {
      font-size: 1.5rem;
   }

   .split-scroll {
      display: block;
      overflow: initial;
      max-height: initial;
   }

   .split-scroll > * {
      overflow: initial;
      max-height: initial;
      padding-right: 0;
   }

   .mobile {
      display: block;
   }

   .accordion-trigger > * {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
   .accordion-trigger > *::after {
      content: '';
      cursor: pointer;
   }

   .accordion-trigger[aria-expanded="true"] > *::after {
      content: '';
   }

   .accordion-panel {
      overflow: hidden;
      /* border-bottom: 0.1rem solid; */
   }
}

@media (max-width: 720px) {
   .site-header {
      top: initial;
      left: initial;
      position: relative;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
      order: 2;
   }

   .site-header {
      font-size: 3.2vw;
   }

   .site-header-text {
      writing-mode: initial;
   }

   .site-header .header-logo {
      position: initial;
      transform: initial;
      order: -1;
   }  

   .site-main {
      margin-left: 0;
   }

   .mobile-nav {
      display: block;
   }
}

@media (max-width: 520px) {
   :root {
      font-size: 18px;
   }

   h2 {
      font-size: 2.5rem;
   }

   h3 {
      font-size: 1.75rem;
   }

   h4 {
      font-size: 1.25rem;
   }
}

@media (max-width: 400px) {
   :root {
      font-size: 16px;
   }

   h2 {
      font-size: 2.25rem;
   }

   h3 {
      font-size: 1.35rem;
   }

   h4 {
      font-size: 1.1rem;
   }
}
