@font-face {
   font-family: 'Inter';
   src: url('/fonts/InterTight-Medium.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

:root {
   font-family: 'Inter', sans-serif;
   font-size: 22px;
   --site-margin: 0.75rem
}

body {
   padding: var(--site-margin);
}

body.no-scroll {
   overflow-y: hidden;
}

a:hover {
   opacity: 0.6;
}

.site-header {
   position: fixed;
   top: var(--site-margin);
   left: var(--site-margin);
   writing-mode: sideways-lr;
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   height: calc(100% - var(--site-margin)*2);
}

.site-header .icon-logo-fc {
   transform: translate(-32.5%, 77%) rotate(-90deg);
   height: 2rem;
   width: auto;
}

.site-main {
   margin-left: 5.5rem;
}

.mb-1:not(:last-child) {
   margin-bottom: 1rem;
}

.mb-2:not(:last-child) {
   margin-bottom: 2rem;
}

.icon {
   position: relative;
   top: 0.075em;
   height: 1em;
   width: auto;
   overflow: visible
}

h2 {
   font-size: 3rem;
   margin-bottom: 1rem;
}

h3 {
   font-size: 2rem;
   margin-bottom: 1rem;
}

h4 {
   font-size: 1rem;
   margin-bottom: 1rem;
}

.text p,
.text ul,
.text ol {
   margin-bottom: 1rem;
}

.text ul {
   list-style: "→ ";
   padding-left: 1.035em;
}

.text ol {
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 1.8em;
}

.text ol li {
  counter-increment: custom-counter;
  position: relative;
}

.text ol li::before {
  content: counter(custom-counter);
  position: absolute;
  left: -1.8em;
  font-feature-settings: "ss01" 1;
}

.image {
   position: relative;
   border: 0.1rem solid;
   overflow: hidden;
}

.image::after {
   content: '';
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: currentColor;
   mix-blend-mode: screen;
}

.image img {
   display: block;
   width: 100%;
   height: auto;
}

.image-corner-10 {
   border-radius: 10px;
}

.image-corner-20 {
   border-radius: 20px;
}

.image-corner-40 {
   border-radius: 40px;
}

.image-corner-60 {
   border-radius: 60px;
}

.image-corner-80 {
   border-radius: 80px;
}

.image-corner-100 {
   border-radius: 100px;
}

.split-scroll {
   display: grid;
   max-height: 100vh;
   overflow: hidden;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 0.25rem;
}

.split-scroll > *:first-child {
   padding-right: 0.75rem;
}

.split-scroll > * {
   overflow-x: hidden;
   overflow-y: hidden;
   max-height: 100vh;
}

.split-scroll.active > * {
   overflow-y: scroll;
}

@media (max-width: 1024px) {
   .split-scroll {
      display: block;
      overflow: initial;
      max-height: initial;
   }
}

.file a,
.link a {
   text-decoration: none
}

.file a::before {
   content: "";
   margin-right: 0.5em
}

.link a:before {
   content: "";
   margin-right: 0.5em
}