@font-face {
   font-family: 'Inter';
   src: url('/fonts/InterTight-Medium.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

:root {
   font-family: 'Inter', sans-serif;
   font-size: 22px;
   --site-margin: 0.75rem
}

body {
   display: flex;
   flex-flow: column;
   padding: var(--site-margin);
   padding-right: 14px;
   overflow-x: hidden;
}

body.no-scroll {
   overflow-y: hidden;
}

.mobile {
   display: none;
}

hr {
   border: none;
   background-color: currentColor;
   height: 0.1rem;
}

a, u {
   text-decoration-thickness: 0.07em;
   text-underline-offset: 0.14em;
   text-decoration-skip-ink: none;
}

a:hover {
   opacity: 0.6;
}

a[href^="mailto:"] {
   word-wrap: anywhere;
}

.site-header {
   position: fixed;
   top: var(--site-margin);
   left: var(--site-margin);
   writing-mode: sideways-lr;
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   height: calc(100% - var(--site-margin)*2);
   white-space: nowrap;
}

.site-header .header-logo {
   transform: translate(-32.5%, 77%) rotate(-90deg);
}

.site-header .icon-logo-fc {
   height: 2rem;
   width: auto;
}

.mobile-nav {
   display: none;
   position: fixed;
   top: var(--site-margin);
   left: var(--site-margin);
   z-index: 1;
   line-height: 0;
   transform: translateY(-150%);
   transition: transform 0.4s;
}

.mobile-nav.active {
   transform: translateY(0);
}

.mobile-nav .icon-logo-fc {
   height: 3rem;
   width: auto;
}

.mobile-nav a {
   font-size: 0;
}

.mobile-nav::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: white;
}

.site-main {
   margin-left: 5.5rem;
}

.mb-1:not(:last-child) {
   margin-bottom: 1rem;
}

.mb-2:not(:last-child) {
   margin-bottom: 2rem;
}

.icon {
   position: relative;
   top: 0.075em;
   height: 1em;
   width: auto;
   overflow: visible
}

h2 {
   font-size: 4rem;
   margin-bottom: 1rem;
}

h3 {
   font-size: 3rem;
   margin-bottom: 1rem;
}

h4 {
   font-size: 2rem;
   margin-bottom: 1rem;
}

h5 {
   font-size: 1rem;
   margin-bottom: 1rem;
}

.text p,
.text ul,
.text ol {
   margin-bottom: 1rem;
}

.text ul {
   list-style: "→ ";
   padding-left: 1.035em;
}

.text ol {
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 1.8em;
}

.text ol li {
  counter-increment: custom-counter;
  position: relative;
}

.text ol li::before {
  content: counter(custom-counter);
  position: absolute;
  left: -1.8em;
  font-feature-settings: "ss01" 1;
}

.image {
   position: relative;
   border: 0.1rem solid;
   overflow: hidden;
}

.image::after {
   content: '';
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: currentColor;
   mix-blend-mode: screen;
}

.image img {
   display: block;
   width: 100%;
   height: auto;
}

.split-scroll {
   display: grid;
   max-height: 100vh;
   overflow: hidden;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 0.25rem;
}

.split-scroll > * {
   overflow-x: hidden;
   overflow-y: hidden;
   max-height: 100vh;
   padding-right: calc(var(--site-margin)*2);
}

.file a,
.link a {
   text-decoration: none
}

.file a::before {
   content: "";
   margin-right: 0.5em
}

.link a:before {
   content: "";
   margin-right: 0.5em
}

@media (max-width: 1024px) {
   :root {
      font-size: 21px;
   }

   h2 {
      font-size: 3.5rem;
   }

   h3 {
      font-size: 2.5rem;
   }

   h4 {
      font-size: 1.5rem;
   }
}

@media (max-width: 920px) {
   :root {
      font-size: 20px;
   }

   h2 {
      font-size: 3rem;
   }

   h3 {
      font-size: 2.25rem;
   }

   h4 {
      font-size: 1.5rem;
   }

   .split-scroll {
      display: block;
      overflow: initial;
      max-height: initial;
   }

   .split-scroll > * {
      overflow: initial;
      max-height: initial;
      padding-right: 0;
   }

   .mobile {
      display: block;
   }

   .accordion-trigger > * {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
   .accordion-trigger > *::after {
      content: '';
      cursor: pointer;
   }

   .accordion-trigger[aria-expanded="true"] > *::after {
      content: '';
   }

   .accordion-panel {
      overflow: hidden;
      /* border-bottom: 0.1rem solid; */
   }
}

@media (max-width: 720px) {
   .site-header {
      top: initial;
      left: initial;
      position: relative;
      writing-mode: initial;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
      order: 2;
   }

   .site-header {
      font-size: 3.2vw;
   }

   .site-header .header-logo {
      transform: initial;
      order: -1;
   }  

   .site-main {
      margin-left: 0;
   }

   .mobile-nav {
      display: block;
   }
}

@media (max-width: 520px) {
   :root {
      font-size: 18px;
   }

   h2 {
      font-size: 2.5rem;
   }

   h3 {
      font-size: 1.75rem;
   }

   h4 {
      font-size: 1.25rem;
   }
}

@media (max-width: 400px) {
   :root {
      font-size: 16px;
   }

   h2 {
      font-size: 2.25rem;
   }

   h3 {
      font-size: 1.35rem;
   }

   h4 {
      font-size: 1.1rem;
   }
}